extends layout

block content
  h1= title
  p Welcome to #{title}
  form( method="post", action="/parse_sentence")
    div
      label Input sentence:
      input(type="text", name="input_sentence", width="300px")
    div
      select(id="parsingAlgorithm", name="parsingAlgorithm")
        option(value="CYK") CYK
        option(value="Earley") Earley
        option(value="LeftCorner") Left-Corner
        option(value="HeadCorner") Head-Corner
    div
      input(type='submit', name='Parse', value='Parse')
